 .container{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
 }
 
 h1{
    color: #fff;
    font-size: 32px;
 }

 form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    padding: 30PX;
    background-color: #2E2D4E;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button{
        border-radius: 30px;
        background-color: #8b8ae1;
        font-weight: bold;
        height: 40px;
        border: none;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

    & button:hover{
        opacity: 0.8;
    }

    & input{
        height: 40px;
        border-radius: 30px;
        border: 1px solid #48456c;
        padding-left:15px;
        background-color: #363653;
        color: #fff;
        outline: none;
    }
 }
 
 .card{
    display: flex;
    justify-content: space-between;
    background-color: #2E2D4E;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 400px;
    font-weight: bold;
    color: #fff;
 }